:root {
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
}

*{
    font-size: clamp(10px, 4vw, 22.5px);
}

main,body,p,h1{
    margin: 0;
    padding: 0; 
}

body{
    position: relative;
    z-index: 5s;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
}

p{
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    color: var(--Dark-Gray);
    
}

.logo{
    width: 135.4px;
    height: 22.4px;
}

.logo path{
    transform: scale(0.7);
}

header{
    display: block;
    min-width: 100%;
    background-position: top;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    height: 650px;
    z-index: 7;
    background-color:rgba(0,0,0,0)
}
header .logo{
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    z-index: 9;
    
}

.hamburger-toggle{
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    z-index: 8;
}

#nav-close{
    display: none;
}

.hover-underline{
    display: none;
}

#hamburger-toggle-controller{
    margin: 0;
    width: 24px; 
    height: 16px;
    z-index: 9;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

#hamburger-toggle-controller:checked ~ #nav-close{
    display: inline-block;
}

#hamburger-toggle-controller:checked ~ #hamburger{
    display: none;
}



#navigation-container{
    display: block;
    background-color: black;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 7;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    
}

#hamburger-toggle-controller:checked ~ #navigation-container{
    opacity: 1;
}

#nav-relative-wrapper{
    position: relative;
    height: inherit;
    width: inherit;
}

nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav-links{
    color: rgb(236, 235, 235);
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 30px;
    display: block;
    padding: 1.5rem 0 0 1.5rem;

    

}

#hero-container{
    background-image: url(images/mobile/image-hero.jpg);
    background-size: max(100%, 375px);
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    box-sizing: border-box;
    position: relative;
    height: 650px;
    padding: 0 1.5rem;
    top: 0;
    z-index: 5;
}

#slogan{
    box-sizing: border-box;
    width: 100%; 
    position: relative;
    border: 2px solid white;
    padding: 1rem; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

#slogan h1{
    font-size: clamp(36px, 3rem, 50px ); 
}
#main-content-minus-hero{
    position: relative;
    top: -4rem;
    z-index: 6;
}

#fixed-nav-background{
    background-image: url(images/mobile/image-hero.jpg);
    background-size: max(100%, 375px) ;
    background-position: center bottom;
    height: 4rem;
    width: 100%;
    position: sticky;
    top: 0;
}

#introduction{
    width: 100%;
    padding: 3rem 1.5rem;
    box-sizing: border-box;
    text-align: center;


}

#intro-image{
    width: 100%;
}

#intro-copy-wrapper{
    
    box-sizing: border-box;
    width: 100%;
    padding: 0 1.5rem;
    
    
}

#intro-copy-wrapper h1{
    color: black;
    padding: 3rem 0 1.5rem 0;
    background-color: white;
    width: 100%;
    box-sizing: border-box;




}

#intro-copy-wrapper p{
    line-height: 2rem;
    width: 100%;
}

#our-creations-wrapper{
    padding: 0 3rem;
}
    
#our-creations-wrapper h1{
    color: black;
    padding:1.5rem 1.5rem 3rem 1.5rem;
    text-align: center;
}

.grid-link{
    height: min(45.138vw - 3rem, 120px);
    width: min( 100%, 327px);
    box-sizing: border-box;
    padding: min( calc(45.138vw - 6rem - 20px) , calc( 100px - 3rem) ) 0 20px 20px;
    display: block;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0,0,0,0.3);
    line-height: 1.5rem;
    
}

#deep-earth{
    background-image: url(images/mobile/image-deep-earth.jpg);
    grid-area: deep-earth;
}

#night-arcade{
    background-image: url(images/mobile/image-night-arcade.jpg);
    grid-area: night-arcade;
}

#soccer-team{
    background-image: url(images/mobile/image-soccer-team.jpg);
    grid-area: soccer-team;
}

#the-grid{
    background-image: url(images/mobile/image-grid.jpg);
    grid-area: the-grid;
}

#from-up-above{
    background-image: url(images/mobile/image-from-above.jpg);
    grid-area: from-up-above;
}

#pocket-borealis{
    background-image: url(images/mobile/image-pocket-borealis.jpg);
    grid-area: pocket-borealis;
}

#the-curiosity{
    background-image: url(images/mobile/image-curiosity.jpg);
    grid-area: the-curiosity;
}

#fisheye{
    background-image: url(images/mobile/image-fisheye.jpg);
    grid-area: fisheye;
}


.grid-item{
    width: min(100%, 327px);
    margin: 0 auto;
    background-size: auto 100%;
}

#grid-wrapper{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat( 8, auto);
    grid-template-areas:
    "deep-earth"
    "night-arcade"
    "soccer-team"
    "the-grid"
    "from-up-above"
    "pocket-borealis"
    "the-curiosity"
    "fisheye";
    row-gap: 1.5rem;
}

#see-all-grid-link{
    text-decoration: none;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    border: 2px solid black;
    padding: 10px 30px;
    display: block;
    width: 6rem;
    text-align: center;
    margin: 3rem auto;
    color: black;
}

footer{
    background-color: black;
    padding: 3rem 0 80px 0; 
    text-align: center;
}

#footer-links-container{
    padding: 3rem 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto, 5);
    row-gap: 1.5rem;

}

.footer-link{
    color: white;
    text-decoration: none;
    display: block;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}

#social-media-icon-container{
    display: flex;
    justify-content: space-evenly;
    width: 160px;
    margin: 0 auto 1.5rem auto;
}


@media only screen and (min-width: 768px) {

    .logo{
        width: 192px;
        height: 32px;
    }

    .hamburger-toggle{
        right: 2rem;
        top: 2rem;
    }
    
    .logo path{
        transform: scale(0.8);
    }

    header .logo{
        left: 2rem;
        top: 2rem;
    }



    #hero-container{
        background-image: url(images/desktop/image-hero.jpg);
        background-size: 100%;
        width: 100%;
        height: 45.13vw;
        background-position: center top;
        padding: 0 2rem;
        top: 0;
        z-index: 5;
    }

    #slogan{
        width: 60%;
        transform: translateY(calc(-50% + 2rem));
    }

    #slogan h1{
        font-size: 2rem;
    }

    header{
        position: absolute;
        top: 0;
        z-index: 9;
    }

    #fixed-nav-background{
        display: none;
    }

    #main-content-minus-hero{
        top: 0;
    }

    #introduction{

        padding: 3rem 2rem;
        text-align: left;
    }

    #intro-copy-wrapper{

        width: 75%;
        position: relative;
        bottom: 6rem;
        padding: 0;
        
    }
    
    #intro-copy-wrapper h1{

        padding: 2rem 6rem 1.5rem 0;

    }
    
    #intro-copy-wrapper p{
        text-align: right;
        padding-left: 2rem;
        box-sizing: border-box;

    }


    #main-content-minus-hero{
        top: 0;
    }

    #fixed-nav-background-image{
        display: none;
    }

    #our-creations-wrapper{
        margin-top: -6rem;
        padding: 0 2rem;
        box-sizing: border-box;
        position: relative;
    }

    #our-creations-wrapper h1{
        text-align: left;
        padding: 0 0 2rem 0;
    }
    
    .grid-link{
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        padding: calc(((100vw - 5.5rem)/4)*1.737 - 3rem) 0 1.5rem 1rem;
        box-sizing: border-box;
        font-size: min( 1rem, 35px);
        line-height: min( 1rem, 35px);
        
        
    }
    
    #deep-earth{
        background-image: url(images/desktop/image-deep-earth.jpg);
    }
    
    #night-arcade{
        background-image: url(images/desktop/image-night-arcade.jpg);
    }
    
    #soccer-team{
        background-image: url(images/desktop/image-soccer-team.jpg);
    }
    
    #the-grid{
        background-image: url(images/desktop/image-grid.jpg);
    }
    
    #from-up-above{
        background-image: url(images/desktop/image-from-above.jpg);
    }
    
    #pocket-borealis{
        background-image: url(images/desktop/image-pocket-borealis.jpg);
    }
    
    #the-curiosity{
        background-image: url(images/desktop/image-curiosity.jpg);
    }
    
    #fisheye{
        background-image: url(images/desktop/image-fisheye.jpg);
    }

    #grid-wrapper{
        grid-template-columns: repeat( 4,calc((100vw - 5.5rem)/4));
        grid-template-rows: repeat( 2, calc(((100vw - 5.5rem)/4)*1.737));
        grid-template-areas:
        "deep-earth night-arcade soccer-team the-grid"
        "from-up-above pocket-borealis the-curiosity fisheye";
        row-gap: 0.5rem;
        column-gap: 0.5rem;
        padding-bottom: 100px;
    }

    #see-all-grid-link{
        position: absolute;
        top: 0;
        margin: 0;
        right: 2rem;
        height: 2rem;
        width: 9rem;
        font-size: 1rem;
        box-sizing: border-box;
        line-height: 1rem;
    }

    .grid-item{
        width: calc((100vw - 5.5rem)/4);
        height: calc(((100vw - 5.5rem)/4)*1.737);
        margin: 0 auto;
        background-size: auto 100%;
    }
}



@media only screen and (min-width: 1024px) {

    .hover-underline{
        width: 50%;
        margin: 0 auto;
        height: 0.25rem;
        display: block;
        border-bottom: 2px solid rgba(0,0,0,0)
    }

    *{
        font-size: 1.5vw;
    }

    p{
        font-size: 15px;
    }

    h1{
        font-size: 2rem;
    }

    #hero-container{
        padding: 0 10vw;
    }

    .logo path{
        transform: scale(1);
    }

    header{
        height: 100px;
    }

    header .logo{
        left: 10vw;
        top: 3rem;
    }
    .hamburger-toggle{
        display: none;
    }

    #navigation-container{
        opacity: 1;
        background-color: rgba(0,0,0,0);
        height: 100px;
    }
    nav{
        top: calc( 3rem + 16px);
        right: 10vw;
    }

    .nav-links{
        font-size: 1rem;
        font-family: 'Alata', sans-serif;
        font-weight: 400;
        padding: 0 0 0 2rem; 
        display: inline-block;
        text-transform: capitalize;
    }

    .nav-links:hover .hover-underline{
        border-bottom: 2px solid white ;
    }

    #slogan{
        width: 35rem;
        padding: 3rem;
    }

    #slogan h1{
        font-size: min(4rem, 67.5px) ;
    }

    #introduction{
        padding: 10vw;
        position: relative;
        top: 0;
        box-sizing: border-box;
    }

    #intro-image{
        width: calc( 50% + 10vw);
    }

    #intro-copy-wrapper{
        width: calc( 50% - 10vw);
        text-align: left;
        padding: 5vw 5vw 0 5vw;
        background-color: white;
        position: absolute;
        bottom: 10vw; 
        right: 10vw;
        height: fit-content;
    }

    #intro-copy-wrapper h1{
        padding: 0 0 1rem 0;
    }

    #intro-copy-wrapper p{
        text-align: left;
        padding: 0;
        line-height: 30px;
    }

    #our-creations-wrapper{
        margin-top: 0;
        padding: 0 10vw 5vw 10vw;
    }

    #see-all-grid-link{
        box-sizing: initial;
        width: auto;
        height: auto;
        padding: 0.25rem 2rem;
        line-height: 1.5rem;
        top: 0;
        right: 10vw;
    }

    #see-all-grid-link:hover{
        background-color: black;
        color: white;
    }
    #grid-wrapper{
        grid-template-columns: min( calc((80vw - 4.5rem)/4), 256px);;
        grid-template-rows: min( calc(((80vw - 4.5rem)/4)*1.737), 450px);
        row-gap: max( 1.5rem, calc((80vw - 1024px)/3));
        column-gap: max( 1.5rem, calc((80vw - 1024px)/3));
    }

    .grid-link{
        padding: min( calc(((80vw - 4.5rem)/4)*1.737 - 4.5rem), calc(450px - 4.5rem)) 0 2rem 2rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .grid-link:hover{
        background-color: rgba(255, 255, 255, 0.61);
        color: black;
    }

    .grid-item{
        width: min( calc((80vw - 4.5rem)/4), 256px);
        height: min( calc(((80vw - 4.5rem)/4)*1.737), 450px);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    footer .logo{
        grid-area: logo;
        display: inline-block;
    }
    
    #footer-links-container{
        grid-area: links;
        display: inline-block;
        text-align: left;
        align-self: end;
        align-items: start;
        padding: 0;
        margin-top: -.25rem;
    }

    .footer-link{
        display: inline-block;
        width: auto;
        padding-right: 2rem;
        height: auto;
        line-height: 1rem;
        font-size: 1rem;
    }

    .footer-link:hover .hover-underline{
        border-bottom: 2px solid white ;
    }
    #social-media-icon-container{
        grid-area: social-media;
        display: inline-block;
        width: fit-content;
        text-align: right;
        margin: 0;
        justify-self: end;
    }

    .social-media-icon-wrapper{
        padding-left: 2rem;
        width: auto;
        display: inline-block;
    }

    .social-media-icon-wrapper .hover-underline{
        width: 100%;
    }

    .social-media-icon-wrapper:hover .hover-underline{
        border-bottom: 2px solid white ;
    }

   #copyrights{
       grid-area: copyrights;
       display: inline-block;
       padding: 2rem 0;
       text-align: right;

   }

    footer{
        display: grid;
        padding: 2rem 10vw;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 32px calc( 20px + 2rem);
        height: auto;
        grid-template-areas: 
        "logo social-media"
        "links copyrights";
    }



}














